<!DOCTYPE html>
<html class="no-js">
<head>
	<title>Student SETU | Loading</title>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<!-- buttons -->
<button id="Register" class="big-button">Register</button>
<script type="text/javascript">
	document.getElementById("Register").onclick = function () {
		location.href = "file:///Users/manan/Documents/GitHub/StudentSETU/StudentSETU/register/register.html";
	};
</script>

<button id="Login" class="big-button">Login</button>
		<script type="text/javascript">
			document.getElementById("Login").onclick = function () {
				location.href = "file:///Users/manan/Documents/GitHub/StudentSETU/StudentSETU/login/login.html";
			};
		</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/main.js"></script>

</body>
</html>
